[SddmGreeterTheme]
Name=AutoComp
Name[ca]=AutoComp
Name[da]=AutoComp
Name[de]=AutoComp
Name[el]=AutoComp
Name[es]=AutoComp
Name[et]=AutoComp
Name[fi]=AutoComp
Name[ga]=AutoComp
Name[gl]=AutoComp
Name[hu]=AutoComp
Name[ia]=AutoComp
Name[kk]=Еларун
Name[ko]=AutoComp
Name[mr]=एलारन
Name[nb]=AutoComp
Name[nl]=AutoComp
Name[pl]=AutoComp
Name[pt]=AutoComp
Name[pt_BR]=AutoComp
Name[ro]=AutoComp
Name[ru]=Эларан
Name[sk]=AutoComp
Name[sl]=AutoComp
Name[sr]=Еларун
Name[sr@ijekavian]=Еларун
Name[sr@ijekavianlatin]=AutoComp
Name[sr@latin]=AutoComp
Name[sv]=AutoComp
Name[uk]=Еларан
Name[x-test]=xxAutoCompxx
Name[zh_CN]=AutoComp
Name[zh_TW]=AutoComp

Description=AutoComp KDM theme ported to SDDM. \nThe original theme is based on work of Roman Shtylman & Nuno Pinheiro
Type=sddm-theme
Author=Reza Fatahilah Shah
Copyright=(c) 2013, Reza Fatahilah Shah
Screenshot=elarun.jpg
License=GPL
Version=0.1
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=elarun
Theme-API=${COMPONENTS_VERSION}
Website=https://github.com/sddm/sddm

